*{
outline: 0;
}
html, body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-image: url('../day15/hd.webp');
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
}
.form-group{
    margin: 0 0 10px 0;
}
.form-section{
    margin: auto;
    max-width: 350px;
    padding: 20px;
    border-radius: 10px;
}
.input{
    padding:10px;
    border: 1px solid rgb(175, 175, 175);
    width: calc(100% - 22px);
    border-radius: 5px;
    font-size: large;
}
.input:focus{
    border: 2px solid var(--primary)!important;
}

button{
    padding: 10px;
    border: 2px solid var(--primary);
    border-radius: 5px;
    background-color: var(--primary);
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}
button:hover{
    background-color: var(--primary-dark);
    border-color:var(--primary-dark) ;
    box-shadow: 0px 0px 8px 5px var(--glow);
    transform: translateY(-2px);
} 
:root{
    --primary : rgb(30, 253, 0);
    --primary-dark:rgb(33, 182, 13);
    --glow :rgb(122, 255, 104);
}
h3{
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 5px;
    color: white;
}
.checkbox{
    display: inline;
    color: white;
padding-right: 90px;
font-family: serif;
font-size: large;
}
.remember-me{
    margin-top: 15px;
}
a{
    color: #54a1ee;
}